<h1>Articles page </h1>
<%= link_to "Home", home_path %>
  <ul>
    <!-- loop for array of objects in ruby -->
    <% @articles.each do |article| %>
      <li>
        <!-- href with param as title  -->
        <%= link_to article.title, article %>
      </li>
    <% end %>
  </ul>

  <%= link_to "New Article", new_article_path %>
